<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cc.netphone">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="com.example.cc.netphone.MyApplocation"
        android:allowBackup="true"
        android:icon="@drawable/icon_soft"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".EnterActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="宇通智能通讯录">

        </activity>
        <activity android:name=".Phone_content">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.DIAL" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<data android:scheme="tel" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".listViewContentActivity"
            android:label="个人信息">

        </activity>
        <activity android:name=".Search"
            android:label="搜索"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>